.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.flex-rw {
  flex-direction: row;
}

.flex-space-btw {
  justify-content: space-between;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  animation: rotate 1s linear infinite; /* Add this line for rotation */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
